* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #961043;
}


#field {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: white;
    /* Above particles */

}

header .navLinksToggle {
    display: none;
}

header .navlinksToggleBtn {
    display: none;
}

header .dropdown {
    width: 100%;
    position: absolute;
    background-color: rgb(217, 217, 217);
    top: 100%;
    left: 0;

    padding: 20px;
    display: none;

}

header .dropdown>div {
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr;
}

header .dropdown .content {
    background-color: #ffffff;
    padding: 20px;
}

header .dropdown .heading {
    /* background-color: white; */
    padding: 20px;
    color: var(--primary);
}

header .dropdown .content ul li {
    margin: 10px 0;
    list-style: none;
}

header .dropdown .careers,
header .dropdown .people {
    display: none;
}

header {
    display: flex;
    padding: 0 100px;
    align-items: center;
    top: 0;
    height: 100px;
    left: 0;
    width: 100%;
    gap: 100px;
    position: fixed;
    justify-content: space-between;
    background-color: white;


    transition: .5s;
    z-index: 100;
}

header .logo img {
    width: 100px;
}



header a {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary);
}

header nav {
    display: flex;
    gap: 60px;
}

header .link {
    position: relative;
    display: flex;
    align-items: center;
}


.arrow-container {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 100%;
    display: flex;
    color: var(--primary);
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.slash {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    width: 20px;
    height: 1px;
    background-color: var(--primary);
    transform: rotate(-45deg);
    margin-left: 13px;
}



header .link:hover .arrow-container .slash,
.btn:hover .arrow-container .slash {
    transform: rotate(0deg);
}

header .link:hover .arrow-container svg,
.btn:hover .arrow-container svg {
    margin-left: 0;
    opacity: 1;


}

.arrow-container svg {
    width: 10px;
    fill: var(--primary);
    opacity: 0;
    margin-left: -8px;
    transition: .3s;
    height: fit-content;
}

.btn {
    display: inline-block;
    border: 2px solid var(--primary);
    background-color: white;
    padding: 20px 50px 20px 20px;
    margin-top: 30px;
    font-size: 20px;
    color: var(--primary);
}

.btn:hover {
    border: 2px solid green;

}

.btn>div {
    position: relative;
    display: flex;

    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.hero .content {
    display: flex;
    gap: 20px;

    padding: 0 50px;
    height: 100%;
}

.hero .content .line {
    background-color: white;
    padding: 20px;
    display: flex;
    position: relative;
    z-index: 8;
    align-items: center;
    align-self: end;
    flex-direction: column;
    gap: 30px;
    height: 80%;
}

.hero .content .line span {
    rotate: -90deg;
    display: inline-block;
    color: var(--primary);

}

.hero .content h1 {
    color: var(--primary);
    width: fit-content;
    padding: 10px;
    line-height: 1;
    position: relative;
    z-index: 8;
    font-size: 90px;
    font-weight: 400;
    background-color: white;

}

.hero .content h3 {
    color: var(--primary);
    font-size: 30px;
    font-weight: 400;
    position: relative;
    width: fit-content;
    z-index: 8;
    padding: 5px 10px;
    line-height: 1.4;
    margin-top: 10px;
    background-color: white;

}

.hero .content .line div {
    height: 100%;
    width: 2px;
    background-color: var(--primary);
}

.hero .content .text {
    align-self: center;

}

#backgroundVideo {
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    /* Positioning if necessary */
    top: 0;

    left: 0;

    width: 100%;
    height: 100vh;
    z-index: -1;
    /* Or adjust based on your layout */
}

#backgroundVideo video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    z-index: 5;
    height: 100%;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* companyDetails  */
.companyDetails div h1 {
    font-size: 9.375rem;
    color: var(--primary);
}

.companyDetails div p {
    font-size: 1.375rem;
    color: var(--primary);
}

.companyDetails {
    background-color: white;
    position: relative;
    z-index: 10;
    padding: 100px 150px;
}

.companyDetails h2 {
    color: var(--primary);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.companyDetails hr {
    border: 1px solid var(--primary);
    margin: 20px 0;
}





/* swiper  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

.videoSection {
    position: sticky;
    top: 0;
    left: 0;
}

section .videos img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

section .videos {
    position: relative;
}

section .videos video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section .videos .videoModel {
    background-color: #0000009b;
    padding: 0;

    height: 100vh;
    width: 100%;
    transition: .5s;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
}

section .videos .videoModel .closebtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

section .videos .videoModel .closebtn svg {
    height: 50px;
    stroke: white;
    width: 50px;


}

/* ============ Full Page Slider ================= */
.creative-fullpage--slider {
    background-color: #ffffff;
    z-index: 2;
    width: 100%;
    position: relative;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    display: flex;
    clip-path: none !important;
}

.creative-fullpage--slider .slider-inner {
    background: #000;
    height: 100vh;
    position: relative;
}

.creative-fullpage--slider .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    overflow: hidden;
}

.creative-fullpage--slider .swiper-slide .slider-inner img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.creative-fullpage--slider .swiper-slide .slider-inner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.creative-fullpage--slider .swiper-slide .slider-inner .swiper-content {
    position: absolute;
    top: 22%;
    left: 50px;
    z-index: 1;
}

.creative-fullpage--slider .swiper-slide .slider-inner::after {
    content: "";
    position: absolute;
    width: 101%;
    height: 100%;
    top: 0;
    left: -1px;
    background-color: transparent;
    background-image: radial-gradient(at center right, #FFFFFF00 50%, #00000096 100%);
}

.swiper-slide .slider-inner .swiper-content .title-area .tag {
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.swiper-slide .slider-inner .swiper-content .title-area .title {
    margin-top: 50px;
    color: #fff;
    font-size: 8vw;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: -12px;
    text-decoration: none;
}

.swiper-slide .slider-inner .swiper-content p.disc {
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
    margin: 20px 0px 40px 0px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFFB0;
}

.creative-btn--wrap .creative-slide--btn {
    color: #ffffff;
    margin-left: 18px;
    font-size: 1.4em;
    transition: margin-left 300ms cubic-bezier(0.49, 0, 0.01, 1);
    font-weight: 400;
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    outline-color: transparent;
    box-shadow: none;
    will-change: transform;
    backface-visibility: hidden;
}

.creative-btn--circle .circle {
    position: absolute;
    right: calc(100% - 10px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    clip-path: circle(25% at 50% 50%);
    transition: clip-path 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle .circle-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background-color: #ffffff;
    will-change: transform;
    transform: scale(0);
    z-index: 1;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1), background-color 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle-icon {
    transform: translate(-100%, 0%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition: all 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle-icon .icon-arrow {
    width: 20px;
    height: 20px;
    stroke: none;
    fill: #000;
}

.creative-btn--circle .circle-outline {
    fill: transparent;
    width: 10px;
    stroke: #ffffff;
}

.creative-btn--wrap .creative-slide--btn .creative-btn--label {
    margin-left: 4pt;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--wrap .creative-slide--btn .creative-btn__border {
    position: absolute;
    left: 4pt;
    right: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    transform-origin: right;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--wrap .creative-slide--btn:hover .creative-btn--label {
    transform: translateX(18px);
}

.creative-btn--wrap .creative-slide--btn:hover .creative-btn__border {
    transform: scale(0, 1);
}

.creative-btn--wrap .creative-slide--btn:hover {
    margin-left: 38px !important;
}

.creative-btn--wrap .creative-slide--btn:hover .circle {
    clip-path: circle(50% at 50% 50%);
}

.creative-btn--wrap .creative-slide--btn:hover .circle-fill {
    transform: scale(1, 1);
}

.creative-btn--wrap .creative-slide--btn:hover .circle-icon {
    transform: translate(0%, 0%);
    opacity: 1;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-next,
.creative-fullpage--slider .swiper-container-h .swiper-button-prev {
    bottom: 5%;
    top: unset;
    transform: scale(1);
    transition: all 0.4s;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    transition: all 0.4s;

}

.creative-fullpage--slider .swiper-container-h .swiper-button-next svg,
.creative-fullpage--slider .swiper-container-h .swiper-button-prev svg {
    stroke: #fff;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-next {
    right: 50px;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-prev {
    left: 50px;
}

.swiper-container-h .slider-pagination-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: unset;
    right: unset;
    bottom: 80px;
    left: 50% !important;
    transform: translateX(-50%);
    width: 500px;
    z-index: 1;
}

.swiper-container-h .slider-pagination-area .slide-range {
    font-size: 16px;
    font-weight: 500;
    margin: 0 15px;
    color: #ffffff;
    line-height: 0;
    position: absolute;
    font-size: 20px;
}

.swiper-container-h .slider-pagination-area .slide-range.one {
    left: -50px;
}

.swiper-container-h .slider-pagination-area .slide-range.three {
    right: -50px;
}

.swiper-container-h .slider-pagination-area .swiper-pagination {
    bottom: 0 !important;
    width: 500px !important;
}

.swiper-container-h .slider-pagination-area .swiper-pagination .swiper-pagination-progressbar-fill {
    background: #ffffff;
}

.swiper-container-h .swiper-button-next::after {
    content: "";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    background: none;
    color: #ffffff;
    font-size: 60px;
}

.swiper-container-h .swiper-button-prev::after {
    content: "";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    background: none;
    color: #ffffff;
    font-size: 60px;
}

.swiper-container-h .swiper-button-next:hover,
.swiper-container-h .swiper-button-prev:hover {
    /* background: #FFFFFF0D; */
}

section .videos .arrows {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 200;
    border: 2px solid white;
    translate: -50% 0;
}

section .videos .arrows .down {
    rotate: 180deg;


}

section .videos .arrows .down,
section .videos .arrows .up {
    padding: 10px;
    transition: .5s;

}

section .videos .arrows .down:hover,
section .videos .arrows .up:hover {
    background-color: rgb(255, 255, 255);
    padding: 10px;

    box-shadow: 0 0 3px rgb(114, 114, 114);
}

section .videos .arrows svg {
    width: 40px;
    stroke: var(--primary) !important;
}

/* ====================== Responsive Ipad =============================== */
@media (max-width: 991px) {
    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content {
        width: 100%;
        text-align: center;
        left: 0;
    }

    .creative-fullpage--slider .swiper-container-h .swiper-button-next,
    .creative-fullpage--slider .swiper-container-h .swiper-button-prev {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .swiper-container-h .slider-pagination-area {
        width: 200px !important;
    }

    .swiper-container-h .swiper-button-next::after,
    .swiper-container-h .swiper-button-prev::after {
        font-size: 30px;
    }

    .creative-fullpage--slider .swiper-container-h .swiper-button-next,
    .creative-fullpage--slider .swiper-container-h .swiper-button-prev {
        background: #ffffff3b;
    }

    .swiper-container-h .slider-pagination-area .swiper-pagination {
        bottom: 0 !important;
        width: 200px !important;
    }
}

/* ====================== Responsive Iphone =============================== */
@media screen and (max-width: 767px) {
    .swiper-slide .slider-inner .swiper-content .title-area .title {
        font-size: 64px;
    }

    .swiper-slide .slider-inner .swiper-content .title-area .tag {
        margin-bottom: 0px;
    }

    .swiper-slide .slider-inner .swiper-content p.disc {
        margin: 20px auto 20px auto;
        font-size: 16px;
        width: 95%;
    }

    .swiper-container-h .slider-pagination-area {
        display: none;
    }

    .swiper-slide .slider-inner .swiper-content p.disc br {
        display: none;
    }
}

.heroCareer {
    background-color: white;
    z-index: 1;
    position: relative;
}

.heroCareer .careers {
    gap: 100px;
    display: grid;
    padding: 110px 100px;
    grid-template-columns: 1fr 1fr;
}

.heroCareer .careers h1 {
    font-size: 4rem;
    font-weight: 500;

}

.heroCareer .careers h1 span {
    color: var(--primary);
    margin-left: 80px;
}

.heroCareer .careers .info p {
    color: gray;
}

.fotterWrapper {
    padding: 50px;
    position: relative;
    z-index: 8;
    background-color: var(--primary);
}

.fotterWrapper .fwrap {
    display: flex;
    justify-content: space-between;
}

.fotterWrapper .fwrap .links {
    padding-right: 150px;
}

.fotterWrapper .fwrap .links p {
    padding: 10px 0;
}

.fwrap .links p a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}



.fwrap .fImg img {
    width: 200px;
    padding-top: 10px;

}

.fNav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 70px;
}

.fNav ul {
    display: flex;
    gap: 20px;
}

.fNav ul li {
    list-style-type: none;
}

.fNav .copyRight {
    width: 32%;
    text-align: center;

}

.fNav .copyRight p {
    font-weight: 800;
    font-size: 13px;
    color: white;
}

.fNav .icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.fNav .icons i {
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.fNav .icons i:hover {
    color: hsla(0, 0%, 100%, 0.3);
}




.creative-testimonial--slider {
    background-image: linear-gradient(to bottom, #f7f7ff, #f4f4fb, #f8f7fc, #fbfbfe, #ffffff);
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    z-index: 8;
}

.creative-testimonial--slider .numberDetails2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 40vh;
    background-color: var(--primary);
}

.creative-testimonial--slider hr {
    margin: 50px;
}

.creative-testimonial--slider .testimonial-inner {
    position: relative;

}

.creative-testimonial--slider .slide-btns {
    right: 100px !important;
    bottom: -50px !important;
    top: unset;
    left: unset;
    /* font-size: 10px !important; */

}

.creative-testimonial--slider .swiper-button-next::after,
.creative-testimonial--slider .swiper-button-prev::after {
    font-size: 30px;
    color: var(--primary);
}

.creative-testimonial--slider .swiper-button-prev {
    right: 150px !important;




}

.creative-testimonial--slider .numberDetails2>div {
    padding: 30px;
    width: 50%;
}

.creative-testimonial--slider .numberDetails2>div button {
    margin: auto;
    display: block;
}

.creative-testimonial--slider .testimonial-heading {
    text-align: center;
    font-weight: 400;
    margin: 40px 0;
    color: var(--primary);
    font-size: 45px;
}

.creative-testimonial--slider .arrow-container svg {

    fill: white;

}

.creative-testimonial--slider .slash {

    background-color: white;

}



.creative-testimonial--slider .btn {

    border: 2px solid white;
    background-color: var(--primary);

    color: white;
}



.creative-testimonial--slider .swiper-slide--inner {
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    width: 70%;
    padding: 50px;
}

.creative-testimonial--slider .swiper-slide h1,
.creative-testimonial--slider .swiper-slide p {
    text-align: center;
    font-weight: 400;
    color: var(--primary);
    font-size: 45px;
}